body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.container{
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}

.header {
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #1B5E3A;
    background-color: rgb(255, 255, 255);
}

.header select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #1B5E3A;
    border-radius: 8px;
    outline: none;
    background-color: White;
    cursor: pointer;
    transition: border 0.3s, box-shadow 0.3s;
}

.header select:hover {
    border-color: #6BBF8A;
    box-shadow: 0 0 5px #6BBF8A;
}

#header{
    margin-left: 300px;
}

.date{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.appointmentInfo{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    overflow-y: auto;
}

.appointmentInfo::-webkit-scrollbar{
    width: 6px;
}

.appointmentInfo::-webkit-scrollbar-thumb {
    background-color: #6BBF8A;
    border-radius: 10px;
}

.appointmentInfo::-webkit-scrollbar-track {
    background: transparent;
}

.appointments{
    width: 90%;
    height: 200px;
    border: 1px solid #1B5E3A;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#link{
    text-decoration: none;
    color: #0133fc;
    font-size: 16px;
    font-weight: 550;
}

#noLink{
    color: rgba(0, 0, 0, 0.518);
}

.viewDoc {
    background-color: #4B9B6E;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 50px;
    font-weight: 500;
    border-radius: 5px;
}

.viewDoc:hover {
    background-color: #2E7D5C;
}

.noAppointments {
    padding: 25px;
    margin: 20px;
}
