.prescription {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px;
    background: linear-gradient(270deg, #0d1117, #1b2735, #283e51, #0d1117);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    font-family: "Poppins", sans-serif;
  }
  
  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .prescriptionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px; 
    padding: 12px 24px;
    /* background: rgba(255, 255, 255, 0.08); */
    border-radius: 10px;
    color: #fff;
    margin: 0 auto 30px auto;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); */
    /* backdrop-filter: blur(12px); */
  }
  
  .headerLogoImg {
    width: 200px;
    height: 81px;
    object-fit: contain;
  }
  .printer {
    --border: #00104b;
    --background: #fff;
    cursor: pointer;
    width: 48px; 
    height: 27px;
    position: relative;
  }
  
  .printer:before, .printer:after {
    content: "";
    position: absolute;
    box-shadow: inset 0 0 0 2px var(--border);
    background: var(--background);
  }
  
  .printer:before {
    left: 0;
    right: 0;
    bottom: 0;
    height: 21px;
    border-radius: 4px;
    z-index: 2;
  }
  
  .printer:after {
    width: 39px;
    height: 9px; 
    top: 0;
    left: 4.5px;
    border-radius: 4px 4px 0 0;
  }
  
  .printer .dot {
    width: 36px;
    height: 3px;
    border-radius: 1.5px;
    left: 6px;
    bottom: 6px;
    z-index: 4;
    position: absolute;
    background: var(--border);
  }
  
  .printer .dot:before, .printer .dot:after {
    content: "";
    position: absolute;
    background: var(--border);
    border-radius: 1px;
    height: 3px;
  }
  
  .printer .dot:before {
    width: 3px;
    right: 0;
    top: -7px;
  }
  
  .printer .dot:after {
    width: 6px;
    right: 4.5px;
    top: -7px;
  }
  
  .printer .paper {
    position: absolute;
    z-index: 1;
    width: 27px; 
    height: 30px; 
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px var(--border);
    background: var(--background);
    left: 10px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    transform: perspective(60px) translateY(0) rotateX(4deg) translateZ(0);
    animation: paper 1.2s ease infinite;
    animation-play-state: var(--state, running);
  }
  
  .printer .paper .svg {
    display: block;
    width: 12px; 
    height: 12px;
    margin-top: 6px;
  }
  
  .printer .output {
    width: 48px; 
    height: 36px;
    pointer-events: none;
    top: 19.5px;
    left: 0;
    z-index: 3;
    overflow: hidden;
    position: absolute;
  }
  
  .printer .output .paperOut {
    position: absolute;
    z-index: 1;
    width: 27px;
    height: 30px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px var(--border);
    background: var(--background);
    left: 10px;
    bottom: 0;
    transform: perspective(60px) rotateX(40deg) translateY(-18px) translateZ(9px);
    animation: paperOut 1.2s ease infinite;
    animation-play-state: var(--state, running);
  }
  
  .printer .output .paperOut:before {
    content: "";
    position: absolute;
    left: 4.5px;
    top: 6px;
    right: 4.5px;
    height: 3px;
    border-radius: 1.5px;
    opacity: 0.5;
    background: var(--border);
    box-shadow: 0 4.5px 0 var(--border), 0 9px 0 var(--border);
  }
  
  .printer:not(:hover) {
    --state: paused;
  }
  
  @keyframes paper {
    50% {
      transform: translateY(15px) translateZ(0);
    }
  }
  
  @keyframes paperOut {
    50% {
      transform: perspective(60px) rotateX(30deg) translateY(-6px) translateZ(9px);
    }
  }
  
  
  
  .date {
    font-size: 1.9rem;
    opacity: 0.9;
  }
  
  
    
  .prescriptionCard {
    width: 1094px;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
    padding: 30px;
    background: linear-gradient(270deg, #0d1117, #1b2735, #283e51, #0d1117);
    color: #e6edf3;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 0 30px #4b9b6e;
  }
  
  
    
    .doctorInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .docprofile {
      display: flex;
      align-items: center;
      border-radius: 12px;
      padding: 12px;
    }
    
    .logoSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
      text-align: center;
    }
    
    .clinicLogo {
      width: 220px;
      height: 220px;
      object-fit: cover;
      border-radius: 12px;
      color: #4b9b6e;
      /* border: 2px solid #4b9b6e; */
      /* background: rgba(255, 255, 255, 0.1); */
      padding: 6px;
    }
    
  
    
    
    .doctorImg {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
      border: 3px solid #4b9b6e;
    }
    
    .docDetails {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      justify-content: center;
      height: 100px;
      width: 250px;
    }
    
    .docName {
      font-size: 2.6rem;
      font-weight: 700;
      color: #6bbf8a;
    }
    
    .docQual,
    .docSpec,
    .docAddress {
      font-size: 1.6rem;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .docQual{
      font-weight: 600;
    }
  
    .docSpec{
      background-color: #103f2c;
      width: 110px;
      text-align: center;
      border: 1px solid #6bbf8a;
      border-radius: 50px;
      font-weight:  600;
      padding: 2px;
      font-size:  15px;
    }
    
    .sectionTitle {
      font-size: 3.4rem;
      font-weight: 600;
      margin: 20px 0 10px 0;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    
    .prescriptionBox {
      margin-top: 26px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 12px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      background: rgba(255, 255, 255, 0.05);
    }
    
    .field {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    
    .fieldLabel {
      /* font-size: 0.95rem; */
      color: #d0d4da;
    }
    
    .fieldInput,
    .fieldTextarea {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 8px;
      padding: 10px;
      color: #fff;
      font-size: 1.4rem;
      resize: none;
      outline: none;
      transition: background 0.3s ease;
    }
    
    .fieldInput:focus,
    .fieldTextarea:focus {
      background: rgba(255, 255, 255, 0.2);
    }
  
    
  .continueApplication {
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
    margin-top: 15px;
    margin-left: 39rem;
  }
  
  .continueApplication > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continueApplication > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continueApplication > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continueApplication > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continueApplication > div .folder:before, .continueApplication > div .folder:after,
  .continueApplication > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continueApplication > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continueApplication > div .folder:after,
  .continueApplication > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continueApplication > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continueApplication > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continueApplication > div .folder .paper:before, .continueApplication > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continueApplication > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continueApplication > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continueApplication > div .pencil:before, .continueApplication > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continueApplication > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continueApplication > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continueApplication:before, .continueApplication:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continueApplication:after {
    --r: 45deg;
  }
  
  .continueApplication:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }

  @media print {
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
  